*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: system-ui, sans-serif;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    min-height: 100vh;

    .game__title {
        margin-top: 1rem;
        color: #5B5EA6;
    }

    .game__info {
        display: flex;
        align-items: center;

        gap: 1rem;

        .status__message {
            color: #5B5EA6;
        }

        .restart__btn {
            padding: 0.5rem 0.5rem;
            background-color: #5B5EA6;
            color: #ffffff;
            border-radius: 0.5rem;
        }
    }
}   

.game__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    .square {
        width: 5rem;
        height: 5rem;
        font-size: 2rem; 
        color: #5B5EA6;

        border: 2px solid #5B5EA6;
        border-radius: 0.5rem;

        cursor: pointer;
        transition: background-color 0.3s;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .square.empty:hover::before {
        content: attr(data-hover);
        position: absolute;
        color: rgba(0, 0, 0, 0.3);
    }

    /* X or O hover depending on turn */
    .game-board.x-turn .square.empty:hover::before {
        content: "X";
    }

    .game-board.o-turn .square.empty:hover::before {
        content: "O";
    }

}