*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: system-ui, sans-serif;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    gap: 1rem;
    background-color: #F7CAC9;

    .game__title {
        margin-top: 1rem;
        color: white;
    }

    .game__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        background-color: #FF6F61;
        border: 2px solid #9B2335;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .game__info {
        display: flex;
        align-items: center;

        gap: 1rem;

        .status__message {
            color: white;
        }

        .restart__btn {
            padding: 0.5rem 0.5rem;
            background-color: #DC343B;
            color: white;
            border-radius: 0.5rem;
        }
    }

    .stats__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;

        background-color: #FF6F61;
        padding: 0.5rem;
        border-radius: 0.5rem;

        .stats__title {
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .stats__info {
            display: flex;
            gap: 0.5rem;

            p {
                background-color: #9B2335;
                color: white;
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
            }
        }

        .reset__stats{
            padding: 0.5rem 0.5rem;
            background-color: #DC343B;
            color: #ffffff;
            border-radius: 0.5rem;
        }
    }
}   

.game__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    .square {
        width: 5rem;
        height: 5rem;
        font-size: 2rem; 

        border: 2px solid #9B2335;
        background-color: #EDE3D2;
        border-radius: 0.5rem;

        cursor: pointer;
        transition: background-color 0.3s;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .square.empty:hover::before {
        content: attr(data-hover);
        position: absolute;
        color: rgba(0, 0, 0, 0.3);
    }

    /* X or O hover depending on turn */
    .game-board.x-turn .square.empty:hover::before {
        content: "X";
    }

    .game-board.o-turn .square.empty:hover::before {
        content: "O";
    }
}